<header id="header" class="header-container container">
  <div class="header-section">
    <nav class="header-nav">
  <!-- <svg class="logo-header" href="./index.html">
    <use href="../images/symbol-defs.svg" class="logo-header-svg" ></use>
  </svg> -->
  <img src="../images/Logo.svg" class="logo-header header-js" alt="logo" href="./index.html">
  <div class="btn-home-basket-header"></div>
  <button type="button" class="btn-home">Home</button>
  <!-- <svg class="logo-basket-header" href="">
    <use href="./img/icon.svg" class="logo-basket-header-svg" ></use>
  </svg> -->
  <img src="../images/icon.svg" class="logo-basket-header header-js" alt="logo basket">
  </div>
</nav>
</div>
</header>