<header id="header" class="header-container container">
  <div class="header-section">
    <svg class="logo-header" href="./index.html" width="154" height="28">
      <use href="../images/Logo.svg"></use>
    </svg>
    <nav class="header-nav">
  <ul class="list-header-btn-basket">
  <li class="item-header-btn">
    <button type="button" href="./homepage.html" class="btn-home">Home</button>
  </li>
  <li class="item-header-basket">
    <svg class="logo-basket-header" href="./cart.html" width="38" height="38">
    <use href="../images/icon.svg"></use>
  </svg>
</li>
</ul>
  </div>
</nav>
</div>
</header>
