@font-face {
  font-family: Quincy CF;
  font-weight: 400;
  src: url(../fonts/Quincy\ CF\ Black\ Regular.woff) format('woff');
}

@font-face {
  font-family: Neue Montrea;
  font-weight: 400;
  src: url(../fonts/Neue\ Montreal\ Regular.woff) format('woff');
}

@font-face {
  font-family: Neue Montrea;
  font-weight: 500;
  src: url(../fonts/Neue\ Montreal\ Medium.woff) format('woff');
}
